body {
}
.homeimg {
  float: left;
}
.homeimg img {
  height: 100vh;
  width: 45vw;
  object-fit: cover;
}
.homeContent {
  float: left;
  padding-left: 2vw;
}

.homeContent div p {
  margin-top: 35vh;
  margin-bottom: 5vh;
  font-size: 15vh;
}
.homeContent div a {
  text-decoration: none;
  color: darkgrey;
  font-size: 5vh;
}
